# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/src/main/resources/template.xls
/output.pdf
/src/main/resources/summary.csv
/src/main/resources/data.csv
/src/main/resources/output.pdf
